<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="en">
    <title>Hello thymeleaf</title>
</head>
<body>
    <div class="row">
        <h2 th:case="indigo-text center" th:text="|Tweet result for ${search}|">Tweets</h2>
        <ul class="collection">
            <li class="collection-item avatar" th:each="tweet:${tweets}">
                <img src="${tweet.user.profileImageUrl}" alt="" class="circle"/>
                <span class="title" th:text="${tweet.user.name}">Username</span>
                <p th:text="${tweet.text}">message</p>
            </li>
        </ul>
    </div>
</body>
</html>